<h1><%= @article.title %></h1>
<p><%= @article.body %></p>

<% @article.comments.each do |comment| %>
  <div class="comment">
    <h4>Comment by <%= comment.author %></h4>
    <p><%= comment.body %></p>
  </div>
<% end %>

<p>
  <%= link_to "Edit", edit_article_path(@article) %>
</p>
<p>
  <%= link_to "Delete", article_path(@article), 
        method: 'delete', confirm: "Are you sure you want to delete?" %>
</p>
<p>
  <%= link_to "Back to Index", articles_path %>
</p>